<div class="mt-5 text-center">
    <a id="page-info" class="w-25 info alert-info" role="alert">{{pageInfo}}</a>
</div>

<div class="mt-5 text-center">
    <button id="payment-form" type="button" class="btn btn-success w-25">Sipariş Ver</button>
</div>

<div class="mt-5 text-center">
    <button id="refund" type="button" class="btn btn-danger w-25">Tümünü İade Et</button>
</div>

<div class="mt-5 text-center failed-messages d-none">
</div>

<div class="mt-5 text-center success-messages d-none">
</div>

<div class="mt-5 text-center error-messages d-none">
</div>

<div id="iyzipay-checkout-form" class="popup">
</div>

{{#if successOrder}}

    <div class="mt-5 text-center">
        <a id="restart-app" class="w-25 alert alert-info" role="alert" href="/">RESTART APP</a>
    </div>

    <div class="d-flex justify-content-center">
        <div class="card text-white bg-success mb-3 mt-5" style="max-width: 25rem;">
            <div class="card-header">Success</div>
            <div class="card-body">
                <h5 class="card-title">Products</h5>
                <p class="card-text">conversationId: {{successOrder.conversationId}}</p>
                <p class="card-text">cardFamily: {{successOrder.cardFamily}}</p>
                <p class="card-text">paidPrice: {{successOrder.paidPrice}}</p>
                <h5 class="card-title">Item paymentTransactionId</h5>
                {{#each successOrder.itemTransactions}}
                    <p class="card-text">paymentTransactionId: {{this.paymentTransactionId}} paidPrice: {{this.paidPrice}}</p>
                {{/each}}
            </div>
        </div>
    </div>

{{/if}}